{% extends "base.html" %}

{% block title %}Edit Group - {{ group.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Group</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Update Group</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>
{% endblock %}

