{% extends "base.html" %}

{% block title %}Home - Splitwise Clone{% endblock %}

{% block content %}
    <h1>Splitwise Clone</h1>
    
    <h2>Users</h2>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h2>Groups</h2>
    {% if session.get('user_id') %}
    <p><a href="{{ url_for('groups.create_group') }}" class="button">Create New Group</a></p>
    {% endif %}
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        {% for group in groups %}
        <tr>
            <td>{{ group.name }}</td>
            <td>{{ group.description }}</td>
            <td><a href="{{ url_for('groups.group', group_id=group.id) }}">View Details</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
